<%= render "navigation" %>

<div id="events-title"><h1>Events</h1></div>

<% @events.each do |event| %>
  <div class="card" style="width: 18rem;">
    <div class="card-img-top" alt="Card image cap"><%= image_tag "placeholder.jpg", height: "200" %></img>
    <div class="card-body">
      <h5 class="card-title">Event Title: <%= event.title %> </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<% end %>

<table>
  <tr>
    <th>Event Title</th>
    <th>Event creator</th>
    <th>Description</th>
    <th>Price</th>
    <th>Location</th>
    <th>Time</th>
    <th>Date</th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.user.email %></td>
      <td><%= event.description %></td>
      <td><%= event.price %></td>
      <td><%= event.location %></td>
      <td><%= event.time %></td>
      <td><%= event.date %></td>
      <td><%= link_to 'Show', event_path(event) %></td>
      <td>Tags: <%= raw event.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>

      <% if current_user == event.user %>
        <td><%= link_to 'Delete', event_path(event), method: 'delete' %></td>
      <% end %>
    </tr>
  <% end %>
</table>
