<%= render "navigation" %>

<div id="events-title"><h1>Events</h1></div>

<div class="field">
  <% @tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag.name) %></br>
  <% end %>
</div>

<%= form_tag("/search", method: "get") do %>
    <% @price_filters.each do |price_filter| %>
        <ul>
          <%= check_box_tag "price_filters[]", price_filter %>
          <%= price_filter %>
        </ul>
    <% end %>
    <%= submit_tag("Search") %>
<% end %>

<div class="container" id="events-list">
  <div class="card-deck">
    <div class="card-columns">
      <% @events.each do |event| %>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/placeholder.jpg" alt="Card image cap">
          <div class="card-body width">
            <h5 class="card-title"><%= event.title %> </h5>
            <span><%= event.date %> at <%= event.time %></span></br>
            <span>Price: £<%= number_with_precision(event.price.to_d / 100, precision: 2) %></span></br>
            <span>Location: <%= event.location %></span></br></br>
            <p class="card-text"><%= event.description.truncate(100) %></p>
            <% if event.tags.count > 0 %>
              <p>Tags: <%= raw event.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></p>
            <% end %>
            <%= link_to 'Event Details', event_path(event), :class => "btn btn-primary"%>
            <% if current_user == event.user %>
              <%= link_to 'Delete', event_path(event), method: 'delete' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
