<h1>Listing events</h1>

<%= render "navigation" %>

<table>
  <tr>
    <th>Event Title</th>
    <th>Event creator</th>
    <th>Description</th>
    <th>Location</th>
    <th>Time</th>
    <th>Date</th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.user.email %></td>
      <td><%= event.description %></td>
      <td><%= event.location %></td>
      <td><%= event.time %></td>
      <td><%= event.date %></td>
      <td><%= link_to 'Show', event_path(event) %></td>
      <td>Tags: <%= raw event.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>

      <% if current_user == event.user %>
        <td><%= link_to 'Delete', event_path(event), method: 'delete' %></td>
      <% end %>
    </tr>
  <% end %>
</table>
