<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>location:</strong>
  <%= @event.location %>
</p>
<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>
